@model IdentityModel.Client.TokenResponse

@if (Model.IsError)
{
    <h2>Error</h2>
    <strong>@Model.Error</strong>
}
else
{
    <ul>
        @foreach (var property in Model.Json.Properties())
        {
            <li><strong>@property.Name:</strong> @property.Value</li>
        }
    </ul>
}